.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-wrapper .hero-preview {
  padding: 10px;
  margin: 0 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
}

.home-wrapper .hero-preview h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-wrapper .hero-preview .heroes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-wrapper .banner {
  height: 60vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-wrapper .banner .banner-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

.home-wrapper .banner .cta {
  width: 30%;
  font-size: 48px;
  position: relative;
}

.home-wrapper .banner a .cta-btn {
  position: relative;
}

.home-wrapper .intro {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-wrapper .intro .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-wrapper .intro .intro-text {
  width: 30%;
}

.home-wrapper .intro h2 {
  font-size: 48px;
}

.home-wrapper .story {
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-wrapper .story h2 {
  font-size: 48px;
}

.home-wrapper .story span {
    width: 50%;
}
