/* cool blog post about box-shadow https://www.joshwcomeau.com/css/designing-shadows/ */

.hero-card {
  margin: 10px;
  padding: 20px;
  height: 610px;
  background-color: var(--bg-secondary);
  border-radius: 30px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all ease 0.1s;
}

.hero-card:hover {
  box-shadow: 0 0 3px 3px var(--font-color-secondary);
  cursor: pointer;
  z-index: 1;
}

.hero-card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card .hero-img {
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 40px;
}

.hero-card .hero-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ensures standardized card alignment */
.hero-card .hero-desc {
  width: 440px;
  height: 200px;
  overflow: hidden;
}

.hero-card .hero-desc:hover {
  cursor: text;
}

.hero-card .hero-desc .bold {
  font-weight: bold;
}

hr {
  border: 0.5px dashed var(--font-color-secondary);
  margin: 5px 0;
}
