* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color-primary);
  --bg-primary: #303030;
  --bg-secondary: #4a4a4a;
  --bg-tertiary: #5a41ac;
  --font-color-primary: #fff;
  --font-color-secondary: #b4b4bd;
  --font-color-tertiary: #313131;
  --btn-color-primary: #62c5ff;
  --btn-color-hover: #5283a4;
}

button {
  padding: 30px;
  background-color: var(--btn-color-primary);
  transition: all ease 0.3s;
  border: none;
}

button:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

a button {
  font-family: "Merriweather";
  text-decoration: none;
  font-size: 20px;
}
